<nav class="admin_nav">
  <div class="logo">
    BLACK LIT FUNCTION
  </div>
   Admin CP : EPISODES    |    PAGES     |    ADMINS    |
  <div class="current_admin">
    <i>Logged in: </i><b><%= @admin %></b>
  </div>
</nav>
