<div class="home_banner">
<div id="logo_holder"><%= image_tag('/logo_title.png', id: "large_logo") %></div>
  <div class="links"> <a>EPISODES</a>  <a>MISSION STATEMENT</a> </div>
</div>
<div id="current_episode">
  <div class="content_width">
    <h2>Episode #00:</h2>
    <h1>THE WIND IN THE WILLOWS</h1>
    <div class="latest_spotify_button_container">
      <div class="latest_spotify_button">
        <div class="button_animation"><div id="casette_wheel_1"></div><div id="tape"><hr></div><div id="casette_wheel_2"></div></div>
        <div class="text"><div style="margin-top: 10px; font-family: Impact; font-size: 0.5em; height: 10px;">LISTEN ON</div>
        <div style="font-size: 1.5em; padding-left: 10px; padding-right: 10px; border-bottom: 2px white solid;">
         Spotify
         </div>
       </div>
        <div class="play_button">▶</div>
      </div>
    </div>
  </div>
  <% if @episodes[0] %>
    <% if @episodes[0].episode_image.attached? %>
    <%=image_tag(@episodes[0].episode_image)%>
    <% end %>
  <% end %>
</div>
<div id="next_episode">
  <div class="content_width">
    <div class="episode_pre">
      Next episode:
    </div>
    <div class="next_episode_name">
    <hr style="width: 30%; border: 1px solid white; display: inline-block;">
    SECOND BOOK
    <hr style="width: 30%; border: 1px solid white; display: inline-block;">
    <br>
    <small> JUNE 15 「水」</small>
    </div>
  </div>
</div>
<div class="public_episodes">
  <div class="content_width">
    <% @episodes.each do |episode| %>
      <div><%= episode.episode_name %></div>
    <% end %>
  </div>
</div>
